@model IEnumerable<PromoToEvents.Models.DisplayEventoModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="icon">
        <span class="ico-layout-7"></span>
    </div>
    <h1>Events <small>All Registered Events</small></h1>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <button class="btn toPopUp" type="button" role="button" id="/Event/Add"><span class=" ico-plus-sign icon-white"></span>Add New Event</button>
            <div class="head dblue">
                <div class="icon"><span class="ico-layout-9"></span></div>
                <h2>Events Table</h2>                                 
            </div>                
            <div class="data-fluid">
                <table class="table fpTable lcnp" cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IdEvento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImgPath)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdAfiliado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FinishDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Active)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ScoreAverage)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Country)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.State)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdEvento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a class="fb" rel="group" href="@Url.Content(Html.DisplayFor(m => item.ImgPath).ToString())">
                                        <img src="@Url.Content(Html.DisplayFor(m => item.ImgPath).ToString())" class="img-polaroid"
                                             style=" max-width: 50px; max-height: 40px;"/>
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdAfiliado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FinishDate)
                                </td>
                                <td>
                                    @if (item.Active)
                                    {
                                        <span class="label label-success">@Html.DisplayFor(modelItem => item.ActiveLabel)</span>
                                    }
                                    else
                                    {
                                        <span class="label label-info">@Html.DisplayFor(modelItem => item.ActiveLabel)</span>
                                    }    
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ScoreAverage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Country)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.State)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    <button class="btn btn-primary toPopUp" role="button" id="/Event/Edit/@Html.DisplayFor(modelItem => item.IdEvento)"><span class="icon-pencil icon-white"></span></button>
                                    <button class="btn btn-danger toDelete" role="button" id="@Html.DisplayFor(modelItem => item.IdEvento)_Val"><span class="icon-remove icon-white"></span></button>
                                        
                                    @using (Html.BeginForm("Delete", "Event", new { id = Html.DisplayFor(modelItem => item.IdEvento) }, FormMethod.Post,
                                        new { id = "Form_" + Html.DisplayFor(modelItem => item.IdEvento) + "_Val", style = "display: none" })) { }
                                    <input type="hidden" id="@Html.DisplayFor(modelItem => item.IdEvento)_Val_Message"
                                            value="Do you really want to delete the event with name @Html.DisplayFor(modelItem => item.Name) - @Html.DisplayFor(modelItem => item.IdEvento)?" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>                    
            </div> 
        </div>      
    </div>
</div>

<!-- Modal -->
<a id="EditPopUpModalActivator" href="#EditPopUpModal" role="button" class="btn" data-toggle="modal" style="display: none">Form dialog</a>
<div id="EditPopUpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
    aria-hidden="true" style="top: 40%;">
    <div id="EditPopUpModalBody" class="modal-body">
        
    </div>
</div>

